.mainContent{
   
    border-radius: 20px;
    height: 50vh;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 20px;
   margin-top:100px;
}

.formContent{
    width: 100%;
    display: flex;
    backdrop-filter: blur(12px);
    border-radius: 20px;
}
.formSide{

    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 20px; 
    
}
.formSide h1{
    text-align: center;
    font-size: 2rem;
}
.imgside{
    flex: 1;
    height: 50vh;
    position: relative;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    
   
}

.imgside img{

    width: 100%;
    height: 100%;
    border-bottom-left-radius:20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    
    
}


.formRow{
    display: flex;
    margin-top:50px; 
}

.formRow label{
    width:130px;
    font-size: 1.1rem;
}


.formRow input{
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 1.1rem;
}

.btnPannel{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btnPannel button{

    background:transparent;
    border: none;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    color: #fff;
    font-size: 1.1rem;
    

}
.btnPannel button:hover{

    background: #fff;
    color: rgb(0, 0, 0);
    
}
.crudBtn{
    display: flex;
    width: 100px;
   gap: 5px;
    justify-content: space-evenly;
    position: absolute;
    right: 10px;
}
.crudBtn button{
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}
.crudBtn button:hover{
    border-bottom: 2px solid #fff;
    font-style: italic;
}

.viewItemsPnl{
    display: flex;
    flex-direction: column;
    position: absolute;
    
    width: 100%;
    height: 100%;
 }
 .itmpnlheader{
     display: flex;
    
     width: 80%;
     flex-direction: row;
     justify-content: space-between;
     margin: 12px 0px 0px 35px;
     
 }
 .itmpnlheader button{
    width: 30px;
    height: 30px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    

}
 .viewItemsPnl table{
    
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px 30px;
    
 }
 .viewItemsPnl thead{
     display: table;
     width: 100%;
     table-layout: fixed;
     margin-bottom: 10px;

 }
 .viewItemsPnl tbody {
    display: block;
    max-height: 190px;
    overflow-y: auto;
  
}
.viewItemsPnl tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
 .itmBtn{
    width: auto;
    color: #fff;
    font-size: 1.1rem;
    background: transparent;
    outline: none;
    border: none;
    padding: 3px;

}
.viewItemsPnl table tbody td:nth-child(1),
 .viewItemsPnl table thead th:nth-child(1){
    width:30px;
    text-align: center;
 }
 
 .viewItemsPnl table tbody td:nth-child(2),
 .viewItemsPnl table thead th:nth-child(2){
    text-align: start;
   padding-left: 10px;

 }
 
 .viewItemsPnl table tbody td:nth-child(3),
 .viewItemsPnl table thead th:nth-child(3){
    width:120px;
    text-align: center;
   
 }
 .viewItemsPnl table thead th:nth-child(3){
     text-align: start;

 }
 
 .itmBtn:hover{
     font-style: italic;
     border-bottom: 2px solid #fff;
 }

 
@media (max-width: 1024px){
    .mainContent{
        height: 85vh;
        width: 90vw;
        padding: 80px ;
    }

     .mainContent h1{
        font-size: 3rem;
    }

    .formRow{
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .formRow label{
        font-size: 1.5rem;
        width: 100%;

    }

    .formContent input{
        font-size: 2rem;
        width: 100%;
    }

    .btnPannel button{
        width: 54vw;
        padding: 10px;
        font-size: 2rem;
        font-weight: 600;
    }
    
 }