.mainDiv{
    display: none;
}
@media print{

    .mainDiv{

        width: 72mm;
        border: 4px soild black;
        padding: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: block;
    }
    
.logoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoDiv img{

    height: 100px;
    width:100px;
}
.heading{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading p{
    text-align: center;
}
.orderDtlsHeading{
    width:100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    border-radius: 15px;
    margin-top: 10px;
}
.orderContDtlsHeading{
    display: flex;
    width:100%;
    margin-top: 10px;

}
.orderContDtlsHeadingleft{
    flex: 1;
    text-align: left;
    font-size: 14px;
    
    
}
.orderContDtlsHeadingRight{
    flex:1;
    text-align: left;
    font-size: 14px;
}

.itemDiv{
    margin: 10px 0px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.itemTable th:nth-child(1),
.itemTable th:nth-child(2),
.itemTable th:nth-child(3){
text-align: left;
}
.itemTable th:nth-child(4){
    text-align: right;
}

.itemTable td:nth-child(4){
    text-align: right;
}

.moriningToaldiv{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid black;
}

.eveningToaldiv{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.grdtotalDiv{

    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid black;

}

.signatureDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 10px;
}
.signatureBox{

    width: 45%;
    border-top:1px dotted black;
    text-align: center;
}

}