@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Mulish", sans-serif;
    background: #fff;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

ul, ol {
    list-style: none;
}